/* start heading part */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
  margin: 0%;
  font-family: 'Lato', sans-serif;
}
/* start nav section */
.menu{
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: rgba(240, 128, 128, 0.749);
 padding: 20px;
}
.logo{
  font-size: 40px;
  font-weight: bolder;
  color: green;
}
.menus{
  display: flex;
  list-style: none;
}
.item{
 margin-right: 10px; 
 padding-right: 7px;
 font-size: 18px;
 color: green;
 cursor: pointer;
}
.item:hover{
  color: blue;
}
.header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color:rgba(255, 192, 203, 0.78);
}
.head-content{
  padding: 150px;
}
 .flower-pic{
  width: 400px;
  height: auto;
  padding: 80px 200px 0 0;
  margin: 0;
 }
 
 .btn-primary{
  padding: 15px;
  width: 100px;
  background-color: #E55473;
  border: none;
  color: white;
  border-radius: 10px;
 }
 .heading{
  font-size: 40px;
  font-weight: bolder;
 }
/* end heading */

 /* start main section 1 */
 .main{
  text-align: center;
  padding: 100px;
 }
 .main-head{
  font-size: 30px;
  font-weight: bolder;
 }
 .main-content{
  font-size: small;
  font-weight: light;
  color: darkgrey;
 }
 .featured-flower{
  width: 200px;
 height: auto;

 }
 .featured{
  background-color:rgba(71, 125, 17, 0.15);
  width: 300px;
  height: 300px;
  border-radius: 50% 50% 0 0 ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
 }
 .featured-one{
  background-color: rgba(167, 33, 98, 0.15);
 }
 .featured-two{
  background-color:rgba(5, 151, 160, 0.15);
 }
 .featured-flowers{
  display: flex;
  justify-content:center;
  align-items: center;
 }
 .margin{
  margin: 0 20px;
 }
 .main-featured{
  text-align: center;
 }
 .featured-letter{
  margin-top: 10px;
 }
 /* end main section 1 */

 /* start main section 2 */
 .banner{
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.635);
  border-radius: 10px;
 }
 .banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.banner-img{
  width: 60px;
  height: 60px;
}
 .banner-description{
  margin-top: 10px;
 }
 /* end main section 2 */

 /* special section */
.special{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row-reverse;
}
.special-flower{
  margin: 20px;
  padding: 50px;
}
.special-pic{
  width: 350px;
  height: 370px;
}
.title-top{
  font-size: 20px;
  font-weight: bolder;
  color: #E55473;
}
.title-end{
  font-size: 50px;
  font-weight: bolder;
}
.special-description{
  color: darkgrey;
}
/* end extra adding section */

 /* start main section 3 */
 .middle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(229, 84, 115, 0.05);
  padding: 100px;
  height: 150px;
 }
 .flower-img{
  width: 200px;
  padding-top: 100px;
  padding-right: 200px;
  padding-bottom: 100px;
 }
 .word-color{
  color: #E55473;
 }
 /* end main section 3 */

 /* start main section 4 */
 .main-flowers{
  text-align: center;
  padding: 50px;
 }
 .flower-title{
  font-weight: bolder;
 }
 .flower-description{
  font-weight: 10px;
  font-size: small;
  color: darkgray;
 }
 .flower-group{
  width: 300px;
  height: auto;
 }
 .flowers{
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 50px;
 }
 .flowers-list{
 display: flex;
 justify-content: center;
 align-items: center;
 }
 .different-flower{
  margin-top: 50px;
 }
 /* end main section 4 */

 /* start main section 5 */
 .full-section{
  text-align: center;
  background-image: url('./asset/Rectangle9.png');
  height: 150px;
  padding: 100px;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  border-radius: 8px;
 }
 .form-head{
  font-weight: bolder;
 }
 .form-description{
  font-size: smaller;
  font-weight: lighter;
  color: darkgray;
 }
 .form-sheet{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
 }
 .email{
  text-align: left;
  width: 400px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  border: none;
 }
 .button{
  margin-left: 10px;
 }
 /* end main section 5 */

 /* start footer section */
 .footer-main{
  text-align: center;
  padding: 100px;
  height: 200px;
  background-color: black;
 }
 .footer-content{
  color: white;
   text-align: center;
  padding: 100px;
  height: 100px;
  background-color: black;
 }
 .footer-head{
  font-weight: bolder;
 }
 .footer-description{
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.712);
 }
 .last-word{
  font-size: 12px;
  font-weight: 400;
  color: rgba(169, 169, 169, 0.547);
 }
 /* end footer section */

 
 
 